{{!-- <h1 class="main-logo">HAND-ME-DOWN (logo)</h1> --}}
<img src="/images/logo.png" alt="logo" height="30%">
<img src="/images/icons/pinkieSwear.png" alt="pinkieSwear">
<h2 class="main-title">BEST WAY TO:</h2>
  <ul class="ulist">
    <li>RECEIVE</li>
    <li>SHARE</li>
    <li>TRACK YOUR GOODS</li>
  </ul>
<div id="action-give-take">
  <a href="/items/create"><button class="giving-button" type="submit">[ + ] START!</button></a>
</div>