{{!-- <h1 class="main-logo">HAND-ME-DOWN (logo)</h1> --}}

<img src="/images/icons/pinkieSwear.png" alt="pinkieSwear">
<h2 class="main-title">BEST WAY TO:
  <ul>
    <li>RECEIVE</li>
    <li>SHARE</li>
    <li>KEEP LOCATED</li>
  </ul>
</h2>
<div id="action-give-take">
  <a href="/items/create"><button class="giving-button" type="submit"></button>[ + ] GIVING</button></a>
  <a href="/items/receive"><button class="taking-button" type="submit">[ + ] TAKING</button></a>
  </div>