<h1 class="main-logo">HAND-ME-DOWN (logo)</h1>
<h2 class="main-title">BEST WAY TO:
  <ul>
    <li>RECEIVE</li>
    <li>SHARE</li>
    <li>KEEP LOCATED</li>
  </ul>
</h2>
<button class="giving-button" type="submit">[ + ] GIVING</button>
<button class="taking-button" type="submit">[ + ] TAKING</button>
<a href="/" role="button"></a>