<h1 class="main-logo">HAND-ME-DOWN (logo)</h1>
<h2 class="main-title">BEST WAY TO:
  <ul>
    <li>RECEIVE</li>
    <li>SHARE</li>
    <li>KEEP LOCATED</li>
  </ul>
</h2>
<button class="giving-button" type="submit"><a href="/items/create">[ + ] GIVING</a></button>
<button class="taking-button" type="submit"><a href="/items/receive">[ + ] TAKING</a></button>