<div class="about-wrapper">  
<img src="/images/icons/ask.png" alt="ask" height="150px">

<h1>ABOUT/HELP</h1>

  <h3>WHAT IS ALL THIS HAND-ME-DOWN THING ABOUT?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  
  <h3>WHY SHOULD I USE THIS APP?</h3>
  <p>Ut enim ad minim veniam, 
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  
  
  <h2>HELP</h2>
  
  <h3>I WANT TO LEND SOMETHING I OWN</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  
  <h3>I HAVE AN ITEM I DON'T OWN</h3>
  <p>Ut enim ad minim veniam, 
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

  
  
  