@import "variables.sass"; 

body {
  color: $primary-color;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 300px;
}
.input-div{
  padding: 10px;
}
button{
  color: $primary-color;
  background-color: $secondary-color;
}


.main-logo {
  position: absolute;
  top: 100px;
}

.main-title {
  position: absolute;
  top: 180px;
}

.giving-button {
  position: fixed;
  top: 60vh;
  display: block;
  padding: 10px;
}

.taking-button {
  position: fixed;
  top: 70vh;
  display: block;
  padding: 10px;
}