<form action="/items/create/{{tag}}" method="POST" id="create-container">

  <label for="itemname">Name your item</label>
  <input id="itemname" type="text" name="itemname" placeholder="example: Sara's Book">

  <br><br>

  <label for="itemowner">Owner</label>
  <input id="itemowner" type="text" name="itemowner" placeholder="Who owns this item?">

  <br><br>

  <label for="itemkeeper">Who are you giving the item to?</label>
  <input id="itemkeeper" type="text" name="itemkeeper" placeholder="Who will keep this item?">

  <br><br>

  <label for="password">Item's tag: {{tag}}</label>
  <div id="itemID"></div>
  <p>Write this tag and stick the post-it somewhere in the item.</p>

{{!--   <br><br>

  <label for="photo">Picture</label>
  <input type="file" name="photo" class="form-control"> --}}

  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button type="submit" >Hand down this item</button>

  <a href="/about">How this works?</a>

</form>