<div class="form-wrapper">
  <form action="/items/create/{{tag}}" method="POST" id="create-container" enctype="multipart/form-data" class="form">
    <div class="input-div">
      <label for="itemname">Name your item</label>
      <input id="itemname" type="text" name="itemname" placeholder="example: Sara's Book" value="A basket full of grapes">
    </div>
    <div class="input-div">
      <label for="itemowner">Owner</label>
      <input id="itemowner" type="text" name="itemowner" placeholder="Who owns this item?" value="Laura">
    </div>
    <div class="input-div">
      <label for="itemkeeper">Who are you giving the item to?</label>
      <input id="itemkeeper" type="text" name="itemkeeper" placeholder="Who will keep this item?" value="Raul">
    </div>
    <div class="input-div">
      <label>Upload a photo of the tag</label>
      <input type="file" name="tag-photo">
    </div>
    <div class="input-div">
      <label for="password">Item's tag: {{tag}}</label>
      <div id="itemID"></div>
      <p>Write this tag and stick the post-it somewhere on the item.</p>
    </div>
    <button type="submit" value="SAVE">Hand down this item</button>
  </form>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

</div>