<img src="/images/icons/ok.png" alt="ok">


<h2>THIS ARE YOUR ITEMS:</h2>

<h3>Items you own and other people keep:</h3>
<ul>
{{#each itemsOwned}}
<div>
<li>{{this.name}}</li>
<p>{{this.}}</p>
</div>

{{/each}}
</ul>

<h3>Items you keep and you oath to return:</h3>

<ul>
{{#each itemsKept}}
<li>{{this}}</li>
{{/each}}
</ul>