<img src="/images/icons/ok.png" alt="ok">


<h2>THIS ARE YOUR ITEMS:</h2>
<div class="inventory-type">
  <h3>Items you own and other people keep:</h3>
  <div class="inventory-item">
    {{#each itemsOwned}}
    <li>{{this.name}}</li>
    <p>{{this.tag}}</p>
    {{/each}}
  </div>
</div>

<div class="inventory-type">
  <h3>Items you keep and you oath to return:</h3>
  <div class="inventory-item">
    {{#each itemsKept}}
    <li> You have: {{this.name}}</li>
    <p>With the tag: {{this.tag}}</p>
    {{/each}}
  </div>
</div>