<div>Name of this item</div>
<div>Pepe's book</div>

<br><br>

<div for="itemowner">Owner of this item</div>
<div>Pepe [mail]</div>

<br><br>

<label for="password">Item's ID: [SweetCharmanderClouds]</label>
<div id="itemID"></div>

<br><br>

<form action="/taken" method="POST" id="taken-container">

  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Take care of this item</button>
<a href="/about">How this works?</a>
</form>
